<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

<bean name="employeeRepository"
class="training.spring.repository.HibernateEmployeeRepositoryImpl "/> 

<bean name="employeeService"
class="training.spring.service.EmployeeServiceImpl " autowire="byName" scope="singleton"/> 
<!--><constructor-arg index="0" ref="employeeRepository"></constructor-arg>-->

<!--<property name="employeeRepository" ref="employeeRepository"></property>-->

</beans>

<bean name="employeeService"
class="training.spring.service.EmployeeServiceImpl " autowire="byTyper"/> 
<!--><constructor-arg index="0" ref="employeeRepository"></constructor-arg>-->

<!--<property name="employeeRepository" ref="employeeRepository"></property>-->

</beans>
